# System Files
.DS_Store
Thumbs.db
._*

# Log Files
*.log

# Build Artifacts
*.zip
*.crx
*.pem
dist/
build/
coverage/
php-chrome-extension-v*/

# Dependencies
node_modules/

# IDE Settings
.vscode/
.idea/

# Security
.env
